/* import roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.font-roboto {
    font-family: "Roboto", sans-serif;
}

* {
    color: rgba(51, 49, 49);
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}
